<!-- Masonry Container -->
<div class="row">
  <div class="large-12 columns">
    <div id="masonryContainer">
      <% @tiles.each do |tile| %>
        <div class="masonry-brick">
          <%= render partial: "tile", locals: { tile: tile } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
