<!-- Masonry Container -->
<div class="row">
  <div class="large-12 columns">
    <div id="tile-board">
    </div>
  </div>
</div>

<% content_for :before_javascript do %>
  <script>
    window.onRoutesInitialized = function () {
      HomeFront.initialTiles = <%= raw @tiles.to_json %>;
    }
  </script>
<% end %>
