<!-- Masonry Container -->
<div class="row">
  <div class="large-12 columns">
    <ul id="tile-board" class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
      <div class="row">
        <%= link_to "New Tile", new_tile_path %>
         <%# <% @tiles.each do |tile| %>
        <%#   <%= render partial: "tile", locals: { tile: tile } %>
        <%# <% end %>
      </div>
    </ul>
  </div>
</div>

<% content_for :before_javascript do %>
  <script>
    window.onRoutesInitialized = function () {
      HomeFront.initialTiles = <%= raw @tiles.to_json %>;
    }
  </script>
<% end %>
