<div class="row">
  <div class='home'>
    <h1>Home Front</h1>
  </div>
</div>
<div class="row">
  <div class='home-row'>
  </div>
</div>

<div class='row'>
  <div class="large-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <li>
        <img src="http://placehold.it/500x600&text=Item">
      </li>
      <li>
        <img src="http://placehold.it/500x600&text=Item">
      </li>
      <li>
        <img src="http://placehold.it/500x600&text=Item">
      </li>
      <li>
        <img src="http://placehold.it/500x600&text=Item">
      </li>
    </ul>
  </div>
</div>

