@import "foundation_and_overrides";

.masonry-brick { width: 220px; margin: 10px; float: left; background: #f6f6f6; }
#masonryContainer { width: 0 auto; }

.tile {
  @extend .small-block-grid-2;
  @extend .medium-block-grid-3;
  @extend .large-block-grid-4;
  background-color: #999999
}

.medium-tile {
  @include block-grid(3);
  background-color: #33cc33
}

.large-tile {
  @include block-grid(4);
  background-color: #cc6699
}
