<div class="tile small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <%= tile.title %>
  <ul>
    <% tile.links.each do |link|  %>
      <li><%= link_to link.description, link.url %>
    <% end %>
  </ul>
</div>
